.login-page {
    background: #DADADA;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #f9f8f8;
}

.login-container .title {
    background-color: #86a4c1;
    margin: -20px -20px 20px -20px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.login-container .title img {
    height: 100%;
}

.login-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20x;
}
.fixed-height {
    height: 30vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.login-access .flex-box {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.login-access .login.show {
    transform: translate(0, 0vh);
}
.login-access .login {
    transform: translate(-100vw, 0vh);
}
.login-access .register.show {
    transform: translate(0, 0vh);
}
.login-access .register {
    transform: translate(100vh, 0vh);
}
.login-access .forgot.show {
    transform: translate(0, 0vh);
}
.login-access .forgot {
    transform: translate(100vh, 0vh);
}

.login-access input {
    margin: 25px;
    width: 70%;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f9f8f8;
}
.login-access .forgot-password-info {
    margin: 0px 25px;
    text-align: center;
    color: red;
}
.login-access input:focus {
    outline: none;
}

.login-btn {
    margin-top: 40px;
    width: 100%;
    background-color: #86a4c1;
    margin: 10px 0px;
    border: none;
    color: #f9f8f8;
    font-size: small;
    width: 450px;
    height: 40px;
    min-width: 350px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.login-btn:hover,
.login-btn:focus {
    background-color: #ff661f;
    font-size: 1.1em;
}

.login-btn::after,
.login-btn::before {
    content: "";
    position: absolute;
    bottom: -5px;
}

.login-btn::after {
    border-top: 20px solid #010e13;
    border-bottom: 20px solid transparent;
    border-right: 25px solid transparent;
    right: 0px;
    bottom: -40px;
}

.login-btn::before {
    border-top: 20px solid #010e13;
    border-bottom: 20px solid transparent;
    border-left: 25px solid transparent;
    left: 0px;
    bottom: -40px;
}

.login-access .forgot-password,
.login-access .sign-up {
    margin: 10px 4px;
    color: #ff661f;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.signup-padding {
    margin-top: 35px;
}
.login-access .forgot-password:hover,
.login-access .forgot-password:focus,
.login-access .sign-up:hover,
.login-access .sign-up:focus {
    color: #86a4c1;
}

.login-access .no-account {
    font-size: 10px;
}
