.login-page {
    background: #ffeddf;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #f9f8f8;
}

.login-container .title {
    background-color: #ff661f;
    margin: -20px -20px 20px -20px;
    text-align: center;
    color: #fdfffc;
    padding: 20px 0;
}

.login-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20x;
}

.login-access .flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.login-access input {
    margin: 25px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #f9f8f8;
}

.login-access input:focus {
    outline: none;
}

.login-btn {
    width: 100%;
    background-color: #ff661f;
    margin: 10px 0px;
    border: none;
    color: #f9f8f8;
    font-size: small;
    width: 450px;
    height: 40px;
    min-width: 350px;
    position: relative;
}

.login-btn::after,
.login-btn::before {
    content: "";
    position: absolute;
    bottom: -5px;
}

.login-btn::after {
    border-top: 20px solid #010E13;
    border-bottom: 20px solid transparent;
    border-right: 25px solid transparent;
    right: 0px;
    bottom: -40px;
}

.login-btn::before {
    border-top: 20px solid #010E13;
    border-bottom: 20px solid transparent;
    border-left: 25px solid transparent;
    left: 0px;
    bottom: -40px;
}

.login-access .forgot-password, .login-access .sign-up {
    margin: 10px 4px;
    color: #FF661F;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.login-access .no-account {
    font-size: 10px;
}

.login-access button {
    background-color: #FF661F;
    color: #f9f8f8;
    border: #f9f8f8;
    margin-top: 40px;
}