.expense-list{
    border-bottom: 1px solid var(--dark-3);
    margin: 10px;
}

table{
    margin: 10px;
}

.expense-table-top th{
    color: var(--secondary);
    font-weight: 200;
    width: 18.2%;
    border-bottom: 1px solid var(--dark-3);
}

.expense-table-data{
    color: var(--dark-1);
    padding: 10px;
}