header{
    background: var(--white-2);
    display: flex;
    justify-content: space-between;
    height:100px; 
    overflow:hidden;

}
hr{
    position: absolute;
    top: 82px;
    left:0px;
    border-bottom: 1px solid var(--dark-3);
    width: 100%;
}

.header-img img{
    height: 115px;
    width: 290px;
}

.header-right{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-right img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}

.header-right .header-righ-info{
    display: flex;
    flex-direction: column;
}

footer{ 
    height: 20px; 
    overflow:hidden;
    text-align: center;
    font-size: 12px;
}

.btn-strip{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-strip .btn-left, .btn-strip .btn-right{
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-right{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
    padding-bottom: 10px;
}

.content{
    padding: 20px 40px;
    background-color: var(--bg-color);
}

.home-card, .friend-card{
    background-color: var(--white-2);
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.home-card .home-amt{
    border-bottom: 1px solid var(--dark-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    padding: 10px;
}

.card img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid var(--dark-1);
}

.card .card-data{
    border-bottom: 1px solid var(--dark-1);
    margin: 5px;
}

.card-icon button{
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
}

.friend-title{
    border-bottom: 1px solid var(--dark-1);
    margin-bottom: 20px;
    padding: 4px;
}

.bill-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 20px;
    width: 100%;
}

.bill-image img{
    height: 100%;
}