header{
    background: var(--white-2);
    display: flex;
    justify-content: space-between;
    height:100px; 
    overflow:hidden;

}
hr{
    position: absolute;
    top: 82px;
    left:0px;
    border-bottom: 1px solid var(--dark-3);
    width: 100%;
}

.header-img img{
    height: 115px;
    width: 290px;
}

.header-right{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-right img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}

.header-right .header-righ-info{
    display: flex;
    flex-direction: column;
}

footer{
    position:absolute; 
    bottom:0px; 
    height: 32px; 
    left:650px; 
    right:0px; 
    overflow:hidden;
    align-items: center;
    font-size: 12px;
}

.btn-strip{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-strip .btn-left, .btn-strip .btn-right{
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.content{
    padding: 20px 40px;
}