header{
    background: var(--white-2);
    display: flex;
    justify-content: space-between;
    height:100px; 
    overflow:hidden;

}
hr{
    position: absolute;
    top: 82px;
    left:0px;
    border-bottom: 1px solid var(--dark-3);
    width: 100%;
}

.header-img img{
    height: 100%;
    padding: 30px;
}

.header-right{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-right img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}

.header-right .header-righ-info{
    display: flex;
    flex-direction: column;
}
.header-right .header-right-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{ 
    height: 20px; 
    overflow:hidden;
    text-align: center;
    font-size: 12px;
}

.content{
    padding: 20px 40px;
    max-height: calc(100vh - 120px);
    overflow: scroll;
    background-color: var(--bg-color);
}

.home-card, .friend-card{
    background-color: var(--white-2);
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    max-height: calc(100vh - 210px);
    overflow: scroll;
}

.card{
    padding: 10px;
}

.card img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid var(--dark-1);
}

.card .card-data{
    border-bottom: 1px solid var(--dark-1);
    margin: 5px;
}

.card-icon button{
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
}

.friend-title{
    border-bottom: 1px solid var(--dark-1);
    margin-bottom: 20px;
    padding: 4px;
}

.bill-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 20px;
    width: 100%;
}

.bill-image img{
    height: 100%;
}

.split-bill{
    margin: 20px;
    border-bottom: 1px solid var(--dark-3);
}

.footer{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.footer .footer-cancel{
    border-radius: 50px;
    background-color: var(--danger);
    color: var(--white-2);
    border: 0px;
    padding: 5px 10px;
    margin: 10px;
    font-size: smaller;
}

.footer .footer-save{
    border-radius: 50px;
    background-color: var(--success);
    color: var(--white-2);
    border: 0px;
    padding: 5px 10px;
    margin: 10px;
    font-size: smaller;
}