.tabs {
    display: flex;
    justify-content: start;
    align-items: center;
}
.tabs .tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: all 1s ease-in-out;
}
.tab-item .tab-item-name{
    margin-left: 5px;
}