:root {
  --white-1: #FDFFFC;
  --white-2: #F9F8F8;
  --white-3: #FFEDDF;
  --dark-1: #043A4E;
  --dark-2: #032B3A;
  --dark-3: #010E13;
  --primary: #FF661F;
  --secondary: #86A4C1;
  --success: #5BBA6F;
  --danger: #F71735;
  --warning: #F99C39;
  --info: #BFD7EA;
  --bg-color: #DADADA;
}
html{
  font-size: 13px;

}
iframe{
  display: none !important;
}
.btn{
  border-radius: 1em;
  border: 0;
  height: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-circular{
  height: 2em;
  width: 2em;
}

.btn-primary{
  background-color: var(--primary);
  color: var(--white-1);
}
.btn-primary:hover, .btn-primary:focus{
  background-color: var(--primary);
  color: var(--white-1);
}

.btn-secondary{
  background-color: var(--secondary);
  color: var(--white-1);
}

.btn-success{
  background-color: var(--success);
  color: var(--white-1);
}

.btn-info{
  background-color: var(--info);
  color: var(--dark-3);
}

.btn-bg-color{
  background-color: var(--bg-color);
  color: var(--dark-2);
}

.ml-10{
  margin-left: 10px;
}

.mt-10{
  margin-top: 10px;
}

.mr-10{
  margin-right: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.ml-20{
  margin-left: 20px;
}

.amt-owed{
  background-color: var(--success);
  color: var(--white-1);
  padding: 0.375rem 0.75rem;
  border-radius: 20px;
}
.amt-owed-to-you{
  background-color: var(--danger);
  color: var(--white-1);
  padding: 0.375rem 0.75rem;
  border-radius: 20px;
}

.error-message{
  text-align: center;
  color: var(--danger);
  font-size: 0.8em;
  margin-top: 5px;
}