:root {
  --white-1: #FDFFFC;
  --white-2: #F9F8F8;
  --white-3: #FFEDDF;
  --dark-1: #043A4E;
  --dark-2: #032B3A;
  --dark-3: #010E13;
  --primary: #FF661F;
  --secondary: #86A4C1;
  --danger: #F71735;
  --warning: #F99C39;
  --info: #BFD7EA;
}


